/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.gdrive-sync-statusbar {
	font-weight: 600;
}

.gdrive-sync-status--synced {
	color: var(--color-green);
}

.gdrive-sync-status--syncing {
	color: var(--color-cyan);
}

.gdrive-sync-status--error {
	color: var(--color-red);
}

.gdrive-sync-button-row {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	margin-top: 12px;
}
